.small-container{
    max-width: 500px;
}
.cart-page{
  margin-left: 250px;
}
table {
    width :100px;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 20px;
    color: #fff;
    background-color: #30475e;
    font-weight: normal;
}
td {
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price tr{
  display: flex;
  margin-left:620px ;
  text-align: right;
}
.total-price table{
    border-top: 5px solid #ff523f; 
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
